*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
main h1{
    text-align: center;
    border-bottom: 1px solid lightgrey;
}